@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);

#compre-ai-root {
  @import "tailwindcss/preflight.css" layer(base);
  @import "tailwindcss/utilities" layer(utilities) important;
}

@layer utilities {
  .animate-slide-in {
    animation: slideIn 0.3s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      right: -400px;
    }
    to {
      right: 0;
    }
  }

  .compre-ai-side-panel {
    user-select: none;
  }

  .compre-ai-sentence-selectable {
    user-select: text;
  }
}
