@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities" layer(utilities);

:host {
  all: initial;
  display: contents;
}

@layer utilities {
  .animate-slide-in-right {
    animation: slideInRight 0.3s ease-in-out;
  }
  
  .animate-slide-in-left {
    animation: slideInLeft 0.3s ease-in-out;
  }

  .animate-slide-in-bottom {
    animation: slideInBottom 0.3s ease-in-out;
  }
  
  @keyframes slideInRight {
    from {
      right: -400px;
    }
    to {
      right: 0;
    }
  }

  @keyframes slideInLeft {
    from {
      left: -400px;
    }
    to {
      left: 0;
    }
  }

  @keyframes slideInBottom {
    from {
      bottom: -400px;
    }
    to {
      bottom: 0;
    }
  }

  .compre-ai-side-panel {
    user-select: none;
  }

  .compre-ai-sentence-selectable {
    user-select: text;
  }
}
