@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities" layer(utilities);

:host {
  all: initial;
  display: contents;
  font-size: 16px;
}

@layer theme {
  .compre-ai-root {
    --spacing: 0.25em;

    --text-xs: 0.75em;
    --text-sm: 0.875em;
    --text-base: 1em;
    --text-lg: 1.125em;
    --text-xl: 1.25em;
    --text-2xl: 1.5em;
    --text-3xl: 1.875em;
    --text-4xl: 2.25em;
    --text-5xl: 3em;
    --text-6xl: 3.75em;
    --text-7xl: 4.5em;
    --text-8xl: 6em;
    --text-9xl: 8em;

    --radius-xs: 0.125em;
    --radius-sm: 0.25em;
    --radius-md: 0.375em;
    --radius-lg: 0.5em;
    --radius-xl: 0.75em;
    --radius-2xl: 1em;
    --radius-3xl: 1.5em;
    --radius-4xl: 2em;
  }
}

@layer utilities {
  .animate-slide-in-right {
    animation: slideInRight 0.3s ease-in-out;
  }
  
  .animate-slide-in-left {
    animation: slideInLeft 0.3s ease-in-out;
  }

  .animate-slide-in-bottom {
    animation: slideInBottom 0.3s ease-in-out;
  }
  
  @keyframes slideInRight {
    from {
      right: -400px;
    }
    to {
      right: 0;
    }
  }

  @keyframes slideInLeft {
    from {
      left: -400px;
    }
    to {
      left: 0;
    }
  }

  @keyframes slideInBottom {
    from {
      bottom: -400px;
    }
    to {
      bottom: 0;
    }
  }

  .compre-ai-side-panel {
    user-select: none;
  }

  .compre-ai-sentence-selectable {
    user-select: text;
  }
}
